* {
  box-sizing: border-box;
}
.page-content {
  flex: 1;
}
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body{
    margin: 0;
    padding-top: 140px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 40px;
}
.viewbox {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.navbar img,
.sidebar .sidecon img,
.viewbox img,
.suggs button,
.pp,
.channellogoedit {
  cursor: pointer;
}

.sidecon {
  cursor: pointer;
}

.sugmain,
.sugnrml {
  cursor: pointer;
}

.createb,
.notib,
.micb,
.sicon {
  cursor: pointer;
}
.footer {
  text-align: center;
  color: #000000;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 450;
  margin-top: 35px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
