.sidebar{
    position: fixed;
    top: 60px;
    bottom:0px;
    left:0px;
    width: 72px;
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 99;
}
.sidecon{
    height: 72px;
    width: 72px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 3px;
   
}
.sidecon:hover{
    background-color: rgb(242, 242, 241);
    border-radius: 16px;

}
.sidecon:active{
    background-color: rgb(220, 220, 220);
    border-radius: 16px;



}
.sidecon img{
    height: 24px;
    width:24px
}
.sidecon div{
    font-family: Roboto,arial;
    font-size: 10px;
}